<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title style="font-size: 20px;color: aqua">css</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        span ,p {
            font-size: large;
            color: red;
            border: 1px solid red;
            background-color: antiquewhite;
        }
        #css {
            background-image:url("/img/2.jpg"); ;
        }
        a:LINK{background-color: green;}/*某个html标签未被点击之前的状态*/
        a:VISITED{background-color: red;}/*鼠标点击之后，松开了*/
        a:HOVER{background-color: blue;}/*鼠标悬浮式*/
        a:ACTIVE{background-color: silver;}/*鼠标点击 但没有松开*/
    </style>
</head>
<body>
    <div id="css">
        <!-- 设置样式为: 字体为红色，边框为1px 实线 红色的。 -->
        <div>div1</div>
        <div>div1</div>
        <div>div1</div>
        <span>span1</span>
        <span>span1</span>
        <span>span1</span>
        <p>pppppppp</p>
        <p>pppppppp</p>
        <p>pppppppp</p>
    </div>
    <div>
        <a href="hello">百度</a>
    </div>
</body>
</html>